http://127.0.0.1 {
    handle /static/* {
		root * /django-docker
        file_server
	}
    handle /media/* {
		root * /django-docker
        file_server
	}
	handle {
        reverse_proxy django:8000
    }
    log
}